@{
    Layout = null;
    ViewData["Title"] ??= "Mazlay";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/plugins.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>

@await Html.PartialAsync("_Header")
    
@RenderBody()
    
@await Html.PartialAsync("_Footer")

<!-- Scripts -->
<script src="~/js/vendor/jquery-3.6.0.min.js" asp-append-version="true"></script>
<script src="~/js/vendor/popper.min.js" asp-append-version="true"></script>
<script src="~/js/vendor/bootstrap.min.js" asp-append-version="true"></script>
<script src="~/js/plugins.js" asp-append-version="true"></script>
<script src="~/js/main.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>